/*********************************************
* Variables *
*********************************************/
:root {
  /* --note-title-color: rgba(68,138,255,.1);
  --note-border-color: rgb(0, 123, 255);
  --warning-title-color: rgba(220,53,69,.1);
  --warning-border-color: rgb(220, 56, 72);
  --hint-title-color: rgba(255,193,7,.2);
  --hint-border-color: rgb(255, 193, 7);
  --caution-title-color: rgba(253,126,20,.1);
  --caution-border-color: #fd7e14; */
  --grey-title-color: rgba(204,204,204,.2);
  --grey-border-color: #ccc;

  --theorem-border-color: rgba(68,138,255);
  --axiom-border-color: rgb(255, 193, 7);
  --criterion-border-color: rgb(253, 126, 20);
  --lemma-border-color: rgb(54, 207, 3);
  --definition-border-color: rgb(0, 123, 255);
  --remark-border-color: rgb(121, 255, 111);
  --conjecture-border-color: rgb(119, 95, 21);
  --corollary-border-color: rgb(197, 0, 193);
  --example-border-color: rgb(249, 55, 123);
  --property-border-color: rgb(253, 249, 20);
  --observation-border-color: rgb(119, 7, 255);
  --proposition-border-color: rgb(79, 122, 168);
  --assumption-border-color: rgb(7, 255, 251);
  --notation-border-color: rgb(0, 255, 200);

  --theorem-title-color: rgba(68,138,255,.1);
  --axiom-title-color: rgb(255, 193, 7,.1);
  --criterion-title-color: rgb(253, 126, 20,.1);
  --lemma-title-color: rgb(54, 207, 3,.1);
  --definition-title-color: rgb(0, 123, 255,.1);
  --remark-title-color: rgb(121, 255, 111,.1);
  --conjecture-title-color: rgb(119, 95, 21,.1);
  --corollary-title-color: rgb(197, 0, 193,.1);
  --example-title-color: rgb(249, 55, 123,.1);
  --property-title-color: rgb(253, 249, 20,.1);
  --observation-title-color: rgb(119, 7, 255,.1);
  --proposition-title-color: rgb(79, 122, 168,.1);
  --assumption-title-color: rgb(7, 255, 251,.1);
  --notation-title-color: rgb(0, 255, 200,.1);
}

/*********************************************
* Main body *
*********************************************/

/* Remove content box */
div.proof p.admonition-title::before {
	content: none;
}

/* Set font weights */
div.proof > p.admonition-title {
    font-weight: var(--pst-admonition-font-weight-heading);
}

div.proof > p.admonition-title > span.caption-number {
    font-weight: var(--pst-admonition-font-weight-heading);
}

/*********************************************
* Proof *
*********************************************/
div#proof{
	padding: .4rem .6rem .4rem 2rem !important;
	border-color: var(--grey-border-color);
	background-color: none;
}

/*********************************************
* Theorem *
*********************************************/
div.theorem {
	border-color: var(--theorem-border-color);
	background-color: var(--theorem-title-color);
}

div.theorem p.admonition-title {
	background-color: var(--theorem-title-color);
}

/*********************************************
* Axiom *
*********************************************/
div.axiom {
	border-color: var(--axiom-border-color);
	background-color: var(--axiom-title-color);
}

div.axiom p.admonition-title {
	background-color: var(--axiom-title-color);
}

/*********************************************
* Criterion *
*********************************************/
div.criterion {
	border-color: var(--criterion-border-color);
	background-color: var(--criterion-title-color);
}

div.criterion p.admonition-title {
	background-color: var(--criterion-title-color);
}

/*********************************************
* Lemma *
*********************************************/
div.lemma {
	border-color: var(--lemma-border-color);
	background-color: var(--lemma-title-color);
}

div.lemma p.admonition-title {
	background-color: var(--lemma-title-color);
}

/*********************************************
* Definition *
*********************************************/
div.definition {
	border-color: var(--definition-border-color);
	background-color: var(--definition-title-color);
}

div.definition p.admonition-title {
	background-color: var(--definition-title-color);
}

/*********************************************
* Remark *
*********************************************/
div.remark {
	border-color: var(--remark-border-color);
	background-color: var(--remark-title-color);
}

div.remark p.admonition-title {
	background-color: var(--remark-title-color);
}

/*********************************************
* Conjecture *
*********************************************/
div.conjecture {
	border-color: var(--conjecture-border-color);
	background-color: var(--conjecture-title-color);
}

div.conjecture p.admonition-title {
	background-color: var(--conjecture-title-color);
}

/*********************************************
* Corollary *
*********************************************/
div.corollary {
	border-color: var(--corollary-border-color);
	background-color: var(--corollary-title-color);
}

div.corollary p.admonition-title {
	background-color: var(--corollary-title-color);
}

/*********************************************
* Algorithm *
*********************************************/
div.algorithm {
	border: none;
	background-color: none;
}

div.algorithm p.admonition-title {
	background-color: transparent;
	border-top: .15rem solid var(--grey-border-color);
	border-bottom: .15rem solid var(--grey-border-color);
}

div.algorithm div.section {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	font-size: .85rem;
}

/*********************************************
* Example *
*********************************************/
div.example {
	border-color: var(--example-border-color);
	background-color: var(--example-title-color);
}

div.example p.admonition-title {
	background-color: var(--example-title-color);
}

/*********************************************
* Property *
*********************************************/
div.property {
	border-color: var(--property-border-color);
	background-color: var(--property-title-color);
}

div.property p.admonition-title {
	background-color: var(--property-title-color);
}

/*********************************************
* Observation *
*********************************************/
div.observation {
	border-color: var(--observation-border-color);
	background-color: var(--observation-title-color);
}

div.observation p.admonition-title {
	background-color: var(--observation-title-color);
}

/*********************************************
* Proposition *
*********************************************/
div.proposition {
	border-color: var(--proposition-border-color);
	background-color: var(--proposition-title-color);
}

div.proposition p.admonition-title {
	background-color: var(--proposition-title-color);
}

/*********************************************
* Assumption *
*********************************************/
div.assumption {
	border-color: var(--assumption-border-color);
	background-color: var(--assumption-title-color);
}

div.assumption p.admonition-title {
	background-color: var(--assumption-title-color);
}

/*********************************************
* Notation *
*********************************************/
div.notation {
	border-color: var(--notation-border-color);
	background-color: var(--notation-title-color);
}

div.notation p.admonition-title {
	background-color: var(--notation-title-color);
}
